/* basic reset */
* { box-sizing: border-box; margin: 0; padding: 0; }
html,body,#root { height: 100%; }
body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
a { color: inherit; text-decoration: none; }
html { scroll-behavior: smooth; }